$green: rgb(43, 255, 0);
$red: rgb(255, 51, 0);
$gold: rgba(255, 174, 0, 0.89);
$gray: #ccc;

.Course {
  border: 4px solid $gray;

  &__subsbar {
    border: 4px solid darken($color: $gray, $amount: 1.5);
    height: 20px;
    width: 100%;
  }

  .status_ {
    &label {
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 5px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }

    &Live {
      &::before {
        background-color: $green;
      }
    }

    &Rejected {
      &::before {
        background-color: $red;
      }
    }

    &Saved {
      &::before {
        background-color: $gold;
      }
    }
  }

  &__bottomrow {
    background-color: $gray;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
